<ion-card>
  <!-- View and Set Image -->
  <app-image-upload
    [imgSrc]="this.api.getPartImageSrc(this.item)"
    [partId]="this.item.data.id"
  ></app-image-upload>
  <ion-card-header>
    <!-- Header: Part Name + Type -->
    <ion-card-title>
      <span>
        {{this.item.data.manufacturerName}} - {{ this.item.data.partName }}
      </span>
      <!-- Delete part Button -->
      <ion-button
        class="ion-float-right"
        color="danger"
        (click)="this.api.deletePart(item)"
        [disabled]="this.user.role !== 'admin'"
      >
        Delete<ion-icon slot="start" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card-title>
    <ion-card-subtitle>{{ this.item.data.type }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <!-- Part Info -->
      <ion-col>
        <div *ngFor="let pair of this.api.getPartValuePairs(item.data)">
          <ion-row>
            <ion-col class="error-text" size="6">
              {{ pair.key }}
            </ion-col>
            <ion-col size="6">
              {{ pair.value }}
            </ion-col>
          </ion-row>
        </div>
        <br />

        <!-- Comment Listing -->
        <app-comment-add [item]="this.item"></app-comment-add>
        <app-comment-list [part]="this.item"></app-comment-list>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
