<ion-card>
  <ion-card-header>
    <!-- Header: Part Name + Type -->
    <ion-card-title>
      <span>
        <!-- {{this.item.data.manufacturerName}} - {{ this.item.data.partName }} -->
      </span>
    </ion-card-title>
    <ion-card-subtitle>{{ this.item.data.pcName }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <!-- Part Info -->
      <ion-col>
        <!-- <div *ngFor="let pair of this.api.getPartValuePairs(this.item.data)">
          <ion-row>
            <ion-col class="error-text" size="6">
              {{ pair.key }}
            </ion-col>
            <ion-col size="6">
              {{ pair.value }}
            </ion-col>
          </ion-row>
        </div> -->

      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Comment Listing -->
      <!-- <app-comment-add [item]="this.item"></app-comment-add> -->
      <!-- <app-comment-list [part]="this.item"></app-comment-list> -->
    </ion-row>
  </ion-card-content>
</ion-card>
