<ion-content>
  <div class="container">
    <form [formGroup]="filterForm">
      <!-- <label for="part-type">App Filter Select</label> -->
      <!-- <app-filter-select
        [options]="this.options"
        labelForId="part-type"
        placeholder="Part Type Placeholder!"
        formControlName="partType"
      ></app-filter-select> -->
    </form>
  </div>

  <!-- Upload new Part -->
  <ion-grid class="div-blur container">
    <div class="container">
      <h1>Create a new Part</h1>

      <!-- Top Header - select part Type -->
      <ion-list>
        <ion-item>
          <ion-select
            label="Select a Part Type"
            value=""
            interface="popover"
            label-placement="floating"
            (ionChange)="this.partCreator.changePartType($event)"
          >
            <ion-select-option
              *ngFor=" let partType of this.partCreator.partTypesArr"
              value="{{partType}}"
            >
              {{partType}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Main Part Input Field -->
      <div *ngFor="let input of this.partCreator.list;let i=index">
        <ion-grid>
          <ion-row>
            <ion-col> {{input.key}} </ion-col>
            <ion-col>
              <ion-input
                label="{{input.key}}"
                labelPlacement="stacked"
                [clearInput]="true"
                placeholder="Fill in here"
                value=""
                [(ngModel)]="this.partCreator.list[i].value"
              ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Upload / Reset Button  -->
      <ion-row>
        <ion-col>
          <ion-button (click)="this.partCreator.uploadPart()"
            >Upload</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button (click)="this.partCreator.resetSelection()"
            >Reset</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <!-- *** Part List *** -->
  <b>Stacked for xs breakpoint, equal width for sm and up</b>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="3">1</ion-col>
      <ion-col size="12" size-sm="3">2</ion-col>
      <ion-col size="12" size-sm="3">3</ion-col>
      <ion-col size="12" size-sm="3">4</ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- TODO make less api calls -->
  <ion-grid>
    <ion-row>
      <div *ngFor="let item of this.api.allParts(); index as i">
        <!-- 1/4 Part-Info card -->
        <ion-col size="12" size-sm="3"></ion-col>
      </div>
    </ion-row>
  </ion-grid>

  <div *ngFor="let item of this.api.allParts(); index as i">
    <div class="div-blur ion-margin">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Part Image -->
            <!-- TODO Reload image directly after uploading -->
            <app-image-upload
              [imgSrc]="this.api.getPartImageSrc(item)"
              [partId]="item.data.id"
            ></app-image-upload>
            <!-- <div>
            <ion-img
            class="ion-margin"
            [src]="this.api.getPartImageSrc(item)"
            ></ion-img>
          </div>
          <ion-row>
              <ion-col size="5">
              <ion-col>
                <input
                type="file"
                id="file"
                accept="image/png,image/jpg"
                (change)="this.setFileInput($event, item)"
                />
              </ion-col>
              <ion-col>
                <ion-button (click)="this.uploadSelectedFile(item)"
                >upload</ion-button
                >
              </ion-col> -->
            <!-- </ion-row> -->
          </ion-col>

          <!-- Part info -->
          <ion-col size="7">
            <ion-button color="danger" (click)="this.api.deletePart(item)"
              >Delete<ion-icon slot="start" name="trash-outline"></ion-icon
            ></ion-button>
            <div *ngFor="let pair of this.api.getPartValuePairs(item.data)">
              {{pair.key}} - {{pair.value}}
            </div>
            <br />
            <!-- Part Comments Submit Form -->
            <form #commentForm>
              <!-- <ion-list> -->
              <!-- <ion-item> -->
              <!-- Comment  -->
              <ion-input
                fill="outline"
                type="text"
                label="Comment"
                labelPlacement="stacked"
                id="commentFormText"
                name="commentFormText"
                #commentFormText
                placeholder="Type here"
                required="true"
              ></ion-input>
              <!-- </ion-item> -->

              <!-- Rating 1 to 5 -->
              <ion-range
                value="3"
                [pin]="true"
                [ticks]="true"
                [snaps]="true"
                [min]="1"
                [max]="5"
                #range
              >
                <ion-icon
                  (click)="test()"
                  slot="start"
                  name="sad-outline"
                ></ion-icon>
                <ion-icon slot="end" name="happy-outline"></ion-icon>
              </ion-range>
              <!-- </ion-list> -->

              <ion-button
                type="submit"
                (click)="this.api.postPartComment(item, commentFormText.value, range.value)"
                >comment</ion-button
              >
            </form>

            <!-- Part Comments List -->
            <div *ngFor="let comment of this.api.getPartComments(item)">
              {{comment.userName}} rated {{comment.userRating}} / 5
              <br />
              {{comment.commentary}}
              <ion-button (click)="this.api.deletePartComment(item, comment)"
                >del</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
