<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab 1 -->
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <!-- Tab 2 -->
    <ion-tab-button tab="configuration" href="/tabs/configuration">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Configuration</ion-label>
    </ion-tab-button>

    <!-- Tab 3 -->
    <ion-tab-button tab="public" href="/tabs/public">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Public</ion-label>
    </ion-tab-button>

    <!-- Login Modal -->
    <ion-tab-button id="open-modal">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>
        <div *ngIf="!this.user.isLoggedIn; else elseBlock">
          Login
        </div>
        <ng-template #elseBlock>
          {{ this.user.username }}
        </ng-template>
      </ion-label>
    </ion-tab-button>
    <app-login></app-login>
  </ion-tab-bar>
</ion-tabs>
